<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UniversityAI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1D55134E0501933862ABA4D5AA8754F8629C301B</string>
				<key>dateExpires</key>
				<string>2/24/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32PZ6J2NBN.com.alsaadza.universityai</string>
				<key>com.apple.developer.team-identifier</key>
				<string>32PZ6J2NBN</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>UniversityAI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8ad26f83-a3a5-446a-9543-63de6781b0e1</string>
				<key>dateExpires</key>
				<string>2/24/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.alsaadza.universityai</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32PZ6J2NBN</string>
				<key>name</key>
				<string>Zain Alsaad</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
