<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UniversityAI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6E8DDFCF29D9FF9A18E6634CC0BB9B8578995625</string>
				<key>dateExpires</key>
				<string>9/10/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>32PZ6J2NBN.com.alsaadza.universityai</string>
				<key>com.apple.developer.team-identifier</key>
				<string>32PZ6J2NBN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>UniversityAI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6c348e5a-e28f-4662-aa97-b38491b95e42</string>
				<key>dateExpires</key>
				<string>3/31/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>32PZ6J2NBN</string>
				<key>name</key>
				<string>Zain Alsaad</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
